<!-- Setting Variable -->
<%
	var rootRelativePath = '../../'
	var isPageTop = false
%>
<!-- Start Page -->
<%- include('../common/_head', {page: 'page_all'}) %>
<%- include ../common/_lib %>
<link rel="stylesheet" href="<%= rootRelativePath %>css/all/style.css" media="all">
</head>
<body class="">
<%- include ../common/_gheader %>
<%- include ../common/_header %>
<main>
<%- include ../common/component/_hero %>
<%- include ../contents/_top %>
<!-- Just Section Example -->
<div class="l-section">
	<section class="section section--variation">
		<header class="section-header">
			<div class="section-title">
				<h1>Mariners betting on rebound<br>by trading for Yovani Gallardo</h1>
			</div>
			<div class="section-subtitle">
				<p>The Roloffs are expecting a baby boy</p>
			</div>
		</header>
		<div class="section-body">
			<div class="section-object">
				<div style="font-size:220px; margin: 0 auto;">
					<i class="fa fa-free-code-camp" aria-hidden="true"></i>
				</div>
			</div>
			<p class="section-text">That all changed in 2014, after detectives were able to establish a link between Lodzinski and a child’s blanket, which was found not far from Timmy’s remains in 1992.Initially, Lodzinski told police she did not recognize the blanket.Lodzinski herself reported Timmy missing on May 25, 1991. She told police he vanished as the two attended a carnival in Sayreville, New Jersey. Lodzinski first told authorities he disappeared when she went to get a soda, and had long denied she was involved in his death.</p>
		</div>
		<div class="section-footer">
			<div class="section-btn">
				<a href="Javascript:void(0);" class="btn btn--primary btn--large">Read More</a>
			</div>
		</div>
	</section>
</div>
<!-- Just Section Example -->
<div class="l-section l-section--variation">
	<section class="section section--variation">
		<header class="section-header">
			<div class="section-title">
				<h1>京都と洛陽 ・長安</h1>
			</div>
			<div class="section-subtitle">
				<p>京都は古く詩文において中国王朝の都に因み洛陽・長安などと呼ばれた</p>
			</div>
		</header>
		<div class="section-body">
			<div class="section-object">
				<div style="font-size:250px; margin: 0 auto;">
					<i class="fa fa-id-badge" aria-hidden="true"></i>
				</div>
			</div>
			<p class="section-text">京都は、古く詩文において中国王朝の都に因み、洛陽、長安などと呼ばれた。一説に、平安京を東西に分割し、西側（右京）を「長安」、東側（左京）を「洛陽」と呼んだという[6]。ところが、右京すなわち「長安」側は湿地帯が多かったことなどから程なく廃れ、市街地は実質的に左京すなわち「洛陽」だけとなった。このため「洛陽」とは即ち京都を指す言葉になり、その一字を採って「洛」だけでも京都を意味することになったとされる[7]。</p>
			<p class="section-text">また一説に、平安初期の文学に現れる洛陽、長安はそれぞれ左京、右京を指しているとは考えられず、ともに都全体を指していると考えられるところから、長安とも洛陽とも呼んでいたものが、のちに洛陽のみが使われるようになったと考えられるという（「平安時代史事典」『洛中』）。現在でも「洛陽工業高校」など固有名詞に残るほか、洛南・洛北・洛西・洛東といった呼称が使われている[8]。また、東京を含めた京都以外の地方から京都へ行くことを「上洛する」「入洛する」ということがある。特殊な例として「下洛」という語が平家物語に見られる。山法師が京中を侵すことを指した。また京域内を「洛中」と呼び、京域縁辺を「洛外」と呼んだ。</p>
		</div>
		<div class="section-footer">
			<div class="section-btn">
				<a href="Javascript:void(0);" class="btn btn--primary btn--large">続きを読む</a>
			</div>
		</div>
	</section>
</div>
<%- include ../contents/_about %>
<%- include ../contents/_fellow %>
<%- include ../contents/_activity %>
<%- include ../common/component/_recent_post %>
</main>

<%- include ../common/component/_sub %>
<%- include ../common/_backtotop %>
<%- include ../common/_footer %>
</body>
</html>